* {
    font-family: 'montserrat';
}

header {
    margin: 3px 0 2rem;
    font-size: 9pt;
    margin: 1rem 0 0 15rem;
}

.form-atendimento form {
    width: 600px;
    margin: 0 auto;
}

.form-atendimento form div label,
input {
    margin: .3rem;
    margin-left: 0;
}


/*estilização dos Adicionais*/

.additional {
    display: flex;
}

.additional h4 {
    margin-right: .8rem;
}

.additional.caixas {
    display: flex;
    flex-direction: column;
}


/* input submit */

input[type="Submit"] {
    color: #f78305;
    background: transparent;
    border: none;
    font-size: 10pt;
    font-weight: 600;
    margin: 2rem 0 0 0;
}


/*Cor das fontes */

#dataHora,
.additional h4 {
    color: #4fafb7;
    font-weight: 500;
}