* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*Estilizando o menu*/

.main-menu {
    background-color: #f78305;
    height: 100px;
    display: flex;
}

.logo {
    background-color: white;
    height: 100%;
    width: 190px;
}

.logo figcaption {
    height: 100%;
}

.logo figcaption figure {
    height: 100%;
}

.logo figcaption figure {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Estillização dos links do menu */

.links-menu {
    display: flex;
    padding-left: 1rem;
    width: 100%;
}


/*nav*/

.menu {
    height: auto;
    padding-top: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


/*espaçamento dos items do menu*/

#menu-left {
    width: 70%;
}

#menu-right {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}

#menu-right li {
    margin-right: 1rem;
}


/*icon of configurations*/

.fas.fa-cog {
    color: #1fade7;
    text-shadow: black 0px 0px 5px;
}


/*===========================*/

.menu ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}


/* Estilizando links do menu, atendimento, clientes etc...*/

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 14pt;
    font-weight: 500;
    font-family: 'montserrat';
}

.menu ul li a:hover {
    color: #456c89;
}


/*===================================================================*/


/*estilizando itens no interior do menu*/

.menu ul ul {
    display: none;
    background-color: white;
    border-radius: 10px;
    width: max-content;
    padding: .2rem 1rem;
    margin: 0 auto;
}

.menu ul ul li {
    color: #456c89;
}

.menu ul li:hover>ul {
    display: block;
}


/*fontes*/

.menu ul li ul li {
    font-family: 'montserrat';
    font-weight: 400;
}